h1,h2,h3,h4,h5,h6 {
	font-family: 'Khand', sans-serif;
	font-weight: 700;
}

p,a {
	font-family: 'Khand', sans-serif;
	font-weight: 500;
	margin: 0;
	font-size: 100%;
	text-decoration: none;
	color: white;
}

h1 {
	margin: 0;
	font-size: 340%;
}

.header-cont {
    width:100%;
    position:fixed;
    top:0px;
}

header {
	height: 60px;
	background-color: #282828;
	margin: 0;
}

#title
{
	height:32px;
	width:233px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 13px;
}

body {
	margin: 0;
	background-image: url('../images/bg.jpg'); 
	background-repeat: repeat;
	background-position:top center;
	background-attachment:fixed;

}

footer {
	width: auto;
	height: 68px;
	color: white;
	background-color: #171717;
}

#gap {
	height: 760px;
}

main {
	height: 760px;
	background-color: #e6eaea;
	padding: 50px;
	background-image: url('../images/portrait2.jpg')
}

main article {

	width: 1000px;
	float: left;
}

main article p {
	color: #0b2438;
}

main aside {
	width: 1000px;
	float: left;
}

main aside img {
	margin-top: 30px;
	margin-right: 30px;
}

#portrait {
	margin: 0;
	float: right;
}

#folio {
	height: 1455px;
	background-color: white;
	margin: 0;
}

#folio article {
	padding: 50px;
	text-align: center;
}

img {
	max-width: 100%;
    height: auto;
}

#folio img {
	margin-top: 10px;
	max-width: 100%;
	height: auto;
}

footer {
	height: 50px;
	background-color: black;
	padding: 20px;
}

#contact {
	float: right;
	text-align: right;
	margin: 0;
	padding: 0;
	line-height: 100%;
}

@media screen and (min-width: 1510px) and (max-width: 1545px) {
	#folio {
		height: 1800px;
	}
}

@media screen and (min-width: 0px) and (max-width: 1510px) {
	#folio {
		height: 1930px;
	}
}

@media screen and (min-width: 0px) and (max-width: 1185px) {
	#folio {
		height: 2300px;
	}
}

@media screen and (min-width: 0px) and (max-width: 1180px) {
	#folio {
		height: 2670px;
	}
}

@media screen and (min-width: 0px) and (max-width: 828px) {
	#folio {
		height: 4140px;
	}
}

@media screen and (min-width: 0px) and (max-width: 810px) {
	#folio {
		height: 5140px;
	}
}



@media screen and (min-width: 0px) and (max-width: 320px) {
	#gap {
		height: 420px;
	}
	body {
		background-image: url('../images/mobilebg.jpg');
		
	}
	main {
		width: 320px;
		background-image: none;
		background-color: white;
	}
	main h1 {
		font-size: 200%;
	}
	main p {
		font-size: 80%;
	}
	main article {
		width: 200px;
	}
	main aside {
		width: 0;
	}
	footer {
		width: 320px;
	}
	footer #contact {
		font-size: 0;
	}
	#folio {
		height: 3200px;
	}
}